* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0
}
.header {
    background-color: #ff6600;
    color: white;
    padding: 60px;
    text-align: center;
}
.header h1 {
    margin: 0;
    font-size: 4em
}
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.group {
    margin-bottom: 15px;
    align-items: center;
    vertical-align: center;
    display: flex;
}
.group input[type="text"] {
    width: 80%;
    height: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: none;
    flex: 1;
}
.group button {
    width: 15%;
    height: 10%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ff6600;
    border-left: none;
    color: white;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}